# Nom du Projet

Une brève description de ce que fait ce projet et à qui il s'adresse.

## Débuter

Ces instructions vous fourniront une copie du projet opérationnel sur votre machine locale à des fins de développement et de test. Voir déploiement pour des notes sur comment déployer le projet sur un système en production.

### Prérequis

Quels choses avez-vous besoin pour installer le logiciel et comment les installer ?

```bash
Donnez des exemples
```

### Installation

Une série d'exemples étape par étape qui vous guident à travers un environnement de développement en cours d'exécution.

Dites ce que sera l'étape

```bash
Donnez un exemple
```

Et répétez

```bash
jusqu'à la fin
```

Terminez avec un exemple de l'obtention de données fonctionnant hors du système ou l'utilisation pour une petite démo.

## Utilisation

Expliquez comment utiliser le projet après l'installation. Si le projet est une bibliothèque, montrez des exemples de son utilisation. Si c'est une application web ou mobile, montrez les pages ou fonctionnalités clés.

## Tests

Expliquez comment exécuter les tests automatisés pour ce système. Détaillez les types de tests et ce qu'ils couvrent. Incluez des exemples pour lancer les tests, si nécessaire.

```bash
Donnez un exemple
```

## Déploiement

Ajoutez des notes supplémentaires sur comment déployer cela sur un système en production.

## Construit avec

* [Dropwizard](http://www.dropwizard.io/1.0.2/docs/) - Le framework web utilisé
* [Maven](https://maven.apache.org/) - Gestion des Dépendances
* [ROME](https://rometools.github.io/rome/) - Utilisé pour générer des flux RSS

## Contribuer

Veuillez lire [CONTRIBUTING.md](https://exemple.com) pour les détails sur notre code de conduite, et le processus pour soumettre des pull requests à notre projet.

## Versioning

Nous utilisons [SemVer](http://semver.org/) pour le versionnage. Pour les versions disponibles, voir les [tags sur ce dépôt](https://exemple.com/tags).

## Auteurs

* **Billie Thompson** - *Travail initial* - [PurpleBooth](https://github.com/PurpleBooth)

Voir aussi la liste des [contributeurs](https://exemple.com/contributeurs) qui ont participé à ce projet.

## Licence

Ce projet est licencié sous la Licence XYZ - voir le fichier [LICENSE.md](LICENSE.md) pour les détails.

## Remerciements

* Chapeau à tous ceux dont le code a été utilisé
* Inspiration
* etc